/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$button-color: #3275C1;
$ruby-red: #810000;

#logo {
	color: white;
	font-family: Courier;
}

body {
	font-family: Courier;
	padding-top: 65px;
}

#navvy {
	li {
		font-family: Courier;
	}
}



#center_logo {
	font-family: Courier;
	text-align: center;
}

.postAction {
	text-align: center;
	margin-top: 20px;
}

footer { 
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-medium-light;
	a {
		color: #232;

		&:hover {
			color: #832;
		}

	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;
		
		li {
			float: left;
			margin-left: 15px;
		}

	}

}

#codeButton {
	font-family: Courier;
}

#largeInput {
	height: 75px;
}

#postForm {
	font-family: Courier;
}

#postHeading {
	color: $button-color;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	border-bottom: 1px $button-color solid;
}

.poster {
	color: $ruby-red;
	text-align: right;
}

#postFoot {
	margin-bottom: 40px;
}


