<footer class="footer col-sm-12">
	<nav>
		<ul>
			<% if session[:user_id] != nil %> 
				<li><%= link_to "Log Out", login_path, :method => :delete %></li>
			<% end %>
			<li><a href="">Sample Link 2</a></li>
			<li><a href="">Sample Link 3</a></li>
		</ul>
	</nav>
</footer>