<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#" id="logo">POST It</a> 
		<div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" id="navvy">
        <li><a href="#">Home</a></li>
        <li><a href="#about">New Post</a></li>
      </ul>
   	</div>
	</div> 
</div> 